---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {{ page.title }}
      {% if page.cv_pdf %}
        <a
          {% if page.cv_pdf contains '://' %}
            href="{{ page.cv_pdf }}"
          {% else %}
            href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url }}"
          {% endif %}
          target="_blank"
          rel="noopener noreferrer"
          class="float-right"
        >
          <i class="fa-solid fa-file-pdf"></i>
        </a>
      {% endif %}
    </h1>
    {% if page.description %}
      <p class="post-description">{{ page.description }}</p>
    {% endif %}
  </header>

  <article>
    <div class="cv">
      {% if page.cv_pdf %}
        
        {% comment %} Path construction logic remains the same and is correct {% endcomment %}
        {% assign local_pdf_path = page.cv_pdf | prepend: '/assets/pdf/' %}
        
        {% if page.cv_pdf contains '://' %}
          {% assign pdf_src = page.cv_pdf %}
        {% else %}
          {% assign pdf_src = local_pdf_path | relative_url %}
        {% endif %}

        <div class="row" style="height: 65vh; min-height: 500px; margin-top: 15px;">
        <iframe 
            src="{{ pdf_src }}" 
            width="100%" 
            height="100%"  style="border: none;"
            allowfullscreen 
            webkitallowfullscreen 
            >
            <p>It looks like your browser doesn't support PDFs. Please use the <a href="{{ pdf_src }}">download link</a> above.</p>
          </iframe>
        </div>
      {% else %}
        <p class="text-center">Error: No CV PDF file specified in the page front matter. Please set the <code>cv_pdf</code> variable.</p>
      {% endif %}
    </div>
    </article>
</div>
